a {
  color: yellowgreen;
  text-decoration: none;
}
a:visited {
  color: yellowgreen;
}
a:hover {
  color: #f0a70d;
}

.Movie-wrapper {
  margin: 3.5em;
}

.movie-content {
  display: flex;
  flex-wrap: wrap;
}

.movie-data {
  padding: 0 10%;
}

.movie-poster {
  display: flex;
  margin: auto;
  border-radius: 3px;
  max-width: 80%;
}

.movie-title {
  font-weight: normal;
  margin: 40px 0 30px 0;
}

.movie-info-title {
  color: #f0a70d;
  font-weight: normal;
  text-align: center;
  margin: 0.5em 0.5em 0.5em 0;
  display: inline-block;
}

.movie-info {
  display: block;
}

.review-similar-heading {
  text-align: center;
  font-weight: normal;
  margin: 2.5em;
  font-size: 25px;
}

.review {
  margin: 1rem auto;
  border: 1px solid lightblue;
  border-radius: 5px;
  max-width: 80%;
  min-width: 15rem;
  background-color: #75a3a3;
  color: black;
  font-size: 13px;
}

.review-author {
  font-weight: bolder;
  margin: 1em;
  color: #e6e600;
  display: block;
}

.review-content {
  display: block;
  margin: 1em 2em;
  overflow-wrap: break-word;
}

@media (min-width: 900px) {
  .movie-data {
    flex: 2;
  }

  .movie-poster {
    flex: 1;
  }

  .movie-title {
    margin-top: 0;
  }
}
