.App-header {
  display: grid;
  grid-template-columns: 18% 72% auto;
  background-color: burlywood;
}

.App-header-title {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1;
}

.App-header-title img {
  margin-left: 1.2em;
  max-width: 90%;
  max-height: 50px;
}

.App-logo {
  position: relative;
  display: flex;
  align-items: center;
}
